<section class="page-configuracoes others-page">
    <div class="container">

        <form method="POST" id="formConfiguracao" class="label">
            <span class="label-title">Configurações de conexão</span>
            <div class="label-inputs">
                <select class="input" name="portaCom">
                    <option val="" hidden>Porta COM</option>
                    {{#each serialPorts}}
                        <option value="{{ this.path }}" {{#ifCond this.path '==' (get ../configuracoes 'portaCom')}} selected {{/ifCond}}>{{ this.path }}</option>
                    {{/each}}
                </select>
                <button type="submit" class="button secondary-button" id="btnSelecionarCom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16.988" height="22.409" viewBox="0 0 16.988 22.409">
                        <g transform="translate(-32.6 -12)">
                            <path d="M78.294,50.081c-.181-1.506-1.394-1.562-2.371-1.367a2.137,2.137,0,0,0-.934.544c-.5-.46-.767-.767-1.548-.7a2.59,2.59,0,0,0-1.3.53c-.4-.711-1.492-.5-1.492-.5-.432.167-.446-.084-.446-.4.014-.795,0-1.59,0-2.385a1.832,1.832,0,0,0-.572-1.381,1.892,1.892,0,0,0-2.12-.488,1.99,1.99,0,0,0-1.353,2.008c-.014,1.618,0,3.221,0,4.839v3.57A10.2,10.2,0,0,0,66.51,57.6a6.2,6.2,0,0,0,5.8,4.17,6.027,6.027,0,0,0,5.717-4.156C78.712,55.129,78.419,52.591,78.294,50.081Zm-1.283,5.927a4.754,4.754,0,0,1-9.482,0c-.084-1.673-.014-3.361-.014-5.048h-.028V46.121c0-.516.084-.976.725-.962.586.014.683.46.683.948v5.606c0,.474.042.948.641.962s.669-.446.669-.934c0-.377-.014-.753.014-1.116.042-.418.265-.725.711-.711a.657.657,0,0,1,.669.739c0,.418-.014.837,0,1.255s.167.739.641.753c.516.014.683-.335.7-.781.014-.39,0-.795,0-1.185,0-.474.209-.781.683-.795s.683.335.711.781c.014.39.014.795,0,1.185,0,.46.181.795.683.781.46-.014.628-.321.628-.767,0-.418-.014-.837,0-1.255s.223-.739.683-.739a.67.67,0,0,1,.711.767C77.053,52.452,77.108,54.237,77.011,56.008Z" transform="translate(-28.876 -27.358)"/>
                            <path d="M48.7,34.649a.671.671,0,0,1-.586-.321,4.575,4.575,0,1,1,8.437-2.454.7.7,0,1,1-1.394,0,3.179,3.179,0,1,0-5.871,1.7.7.7,0,0,1-.209.962A.78.78,0,0,1,48.7,34.649Z" transform="translate(-12.736 -13.166)"/>
                            <path d="M34.218,22.5a.671.671,0,0,1-.586-.321,6.63,6.63,0,1,1,12.23-3.542.7.7,0,1,1-1.394,0,5.236,5.236,0,1,0-9.664,2.8.7.7,0,0,1-.209.962A.759.759,0,0,1,34.218,22.5Z"/>
                        </g>
                    </svg>
                    <span>Selecionar</span>
                </button>
            </div>
        </form>

        <div class="label">
            <span class="label-title">Dispositivo central</span>
            <div class="label-inputs vertical-flow">

                <button type="button" class="button secondary-button" id="btnTestarSerial">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14.975" viewBox="0 0 16 14.975">
                        <g transform="translate(-10 -10)">
                            <path d="M68.325,58.319H63.333V54.575a1.248,1.248,0,0,1,1.248-1.248h2.5a1.248,1.248,0,0,1,1.248,1.248Z" transform="translate(-42.325 -35.216)"/>
                            <path d="M13.744,20H10v4.368a.624.624,0,0,0,.624.624h2.5a.624.624,0,0,0,.624-.624Z" transform="translate(0 -8.128)"/>
                            <rect width="3.744" height="0.936" transform="translate(21.632 24.039)"/>
                            <rect width="2.496" height="0.936" transform="translate(10.624 10)"/>
                            <path d="M18.023,22.167a1.7,1.7,0,0,0,3.39,0V13.744A3.915,3.915,0,0,1,25.48,10a3.915,3.915,0,0,1,4.067,3.744v3.432H28.191V13.744a2.721,2.721,0,0,0-5.423,0v8.424a2.937,2.937,0,0,1-3.051,2.808,2.937,2.937,0,0,1-3.051-2.808V17.8h1.356Z" transform="translate(-5.419 0)"/>
                        </g>
                    </svg>
                    <span>Testar conexão serial</span>
                </button>

            </div>
        </div>

        <div class="label">
            <span class="label-title">Dispositivo de largada</span>
            <div class="label-inputs vertical-flow">

                <button type="button" class="button secondary-button" id="btnTestarConexaoLargada">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13.6" viewBox="0 0 16 13.6">
                        <path d="M375.356,3483.264l-1.131,1.128A3.554,3.554,0,0,1,374.3,3489l1.131,1.136a5.275,5.275,0,0,0-.079-6.872m2.262-2.264-1.131,1.128c2.263,2.264,2.342,6.872.079,9.136l1.131,1.136a8.118,8.118,0,0,0-.079-11.4m-4.473,4.592a.361.361,0,0,0-.052-.064h0a1.654,1.654,0,0,0-2.262,0,1.723,1.723,0,0,0,0,2.264c.007,0,.016.008.023.016a.59.59,0,0,1,.052.064l0-.008c.452.456.291-1.04.291,6.736h1.6c0-7.952-.2-6.16.37-6.728a1.722,1.722,0,0,0,0-2.264c-.007-.008-.016-.008-.023-.016m-3.45-1.2-1.131-1.128a5.276,5.276,0,0,0,.079,6.872l1.131-1.136a3.554,3.554,0,0,1-.079-4.608m-2.183,6.872-1.131,1.136a8.119,8.119,0,0,1-.079-11.4l1.131,1.128c-2.263,2.264-2.184,6.872.079,9.136" transform="translate(-364 -3481)" fill-rule="evenodd"/>
                    </svg>
                    <span>Testar conexão LoRa</span>
                </button>

                <button type="button" class="button secondary-button" id="btnTestarRfidLargada">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="11.2" viewBox="0 0 16 11.2">
                        <path d="M93.146,3486.51a.367.367,0,0,0-.052-.064h0a1.687,1.687,0,0,0-2.262,0,1.67,1.67,0,0,0,0,2.224c.007.008.016.008.023.016a.428.428,0,0,0,.053.063h0a1.585,1.585,0,1,0,2.26-2.224c-.007-.008-.016-.008-.023-.016m-3.451-1.176-1.131-1.112a5.115,5.115,0,0,0,.079,6.752l1.131-1.112a3.446,3.446,0,0,1-.079-4.528m-2.262-2.225L86.3,3482a7.877,7.877,0,0,0,.079,11.2l1.131-1.112c-2.262-2.224-2.342-6.752-.079-8.977m7.923,1.112-1.131,1.112a3.446,3.446,0,0,1,.079,4.528l1.131,1.112a5.116,5.116,0,0,0-.079-6.752M97.7,3493.2l-1.131-1.112c2.263-2.224,2.184-6.752-.079-8.977L97.619,3482a7.877,7.877,0,0,1,.079,11.2" transform="translate(-84 -3481.998)" fill-rule="evenodd"/>
                    </svg>
                    <span>Testar RFID</span>
                </button>

                <button type="button" class="button secondary-button" id="btnTestarRtcLargada">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="16" height="14.665" viewBox="0 0 16 14.665">
                        <path d="M15.806,7.565l-1.332-1.7a.689.689,0,0,0-1.049,0l-1.332,1.7a.666.666,0,0,0,1.049.819l.047-.062a6,6,0,1,1-1.621-5.211.667.667,0,0,0,.952-.932A7.332,7.332,0,1,0,14.564,8.14l.192.25a.666.666,0,0,0,1.049-.819Z" transform="translate(0.053 0.026)"/>
                        <path d="M27.346,10.67a.678.678,0,0,0-.676.676v4.065a.559.559,0,0,0,.02.158.483.483,0,0,0,.053.142.422.422,0,0,0,.074.122s.015.02.02.025a.536.536,0,0,0,.1.089h0l.028.02,1.062.8,1.626,1.219a.658.658,0,0,0,.406.135.678.678,0,0,0,.406-1.219l-.216-.163-.869-.65-.9-.678-.455-.338V11.346A.678.678,0,0,0,27.346,10.67Z" transform="translate(-20.032 -8.043)"/>
                    </svg>
                    <span>Testar RTC</span>
                </button>

                <button type="button" class="button secondary-button" id="btnTestarInterruptorLargada">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.934" height="11.165" viewBox="0 0 20.934 11.165">
                        <path d="M16.352,8H6.582a5.582,5.582,0,0,0,0,11.165h9.769A5.582,5.582,0,0,0,16.352,8ZM6.582,17.071a3.489,3.489,0,0,1,0-6.978,3.489,3.489,0,0,1,0,6.978Z" transform="translate(-1 -8)"/>
                    </svg>
                    <span>Testar interruptor</span>
                </button>

            </div>
        </div>

        <div class="label">
            <span class="label-title">Dispositivo de chegada</span>
            <div class="label-inputs vertical-flow">

                <button type="button" class="button secondary-button" id="btnTestarConexaoChegada">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13.6" viewBox="0 0 16 13.6">
                        <path d="M375.356,3483.264l-1.131,1.128A3.554,3.554,0,0,1,374.3,3489l1.131,1.136a5.275,5.275,0,0,0-.079-6.872m2.262-2.264-1.131,1.128c2.263,2.264,2.342,6.872.079,9.136l1.131,1.136a8.118,8.118,0,0,0-.079-11.4m-4.473,4.592a.361.361,0,0,0-.052-.064h0a1.654,1.654,0,0,0-2.262,0,1.723,1.723,0,0,0,0,2.264c.007,0,.016.008.023.016a.59.59,0,0,1,.052.064l0-.008c.452.456.291-1.04.291,6.736h1.6c0-7.952-.2-6.16.37-6.728a1.722,1.722,0,0,0,0-2.264c-.007-.008-.016-.008-.023-.016m-3.45-1.2-1.131-1.128a5.276,5.276,0,0,0,.079,6.872l1.131-1.136a3.554,3.554,0,0,1-.079-4.608m-2.183,6.872-1.131,1.136a8.119,8.119,0,0,1-.079-11.4l1.131,1.128c-2.263,2.264-2.184,6.872.079,9.136" transform="translate(-364 -3481)" fill-rule="evenodd"/>
                    </svg>
                    <span>Testar conexão 2.4 GHz</span>
                </button>

                <button type="button" class="button secondary-button" id="btnTestarRfidChegada">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="11.2" viewBox="0 0 16 11.2">
                        <path d="M93.146,3486.51a.367.367,0,0,0-.052-.064h0a1.687,1.687,0,0,0-2.262,0,1.67,1.67,0,0,0,0,2.224c.007.008.016.008.023.016a.428.428,0,0,0,.053.063h0a1.585,1.585,0,1,0,2.26-2.224c-.007-.008-.016-.008-.023-.016m-3.451-1.176-1.131-1.112a5.115,5.115,0,0,0,.079,6.752l1.131-1.112a3.446,3.446,0,0,1-.079-4.528m-2.262-2.225L86.3,3482a7.877,7.877,0,0,0,.079,11.2l1.131-1.112c-2.262-2.224-2.342-6.752-.079-8.977m7.923,1.112-1.131,1.112a3.446,3.446,0,0,1,.079,4.528l1.131,1.112a5.116,5.116,0,0,0-.079-6.752M97.7,3493.2l-1.131-1.112c2.263-2.224,2.184-6.752-.079-8.977L97.619,3482a7.877,7.877,0,0,1,.079,11.2" transform="translate(-84 -3481.998)" fill-rule="evenodd"/>
                    </svg>
                    <span>Testar RFID</span>
                </button>

                <button type="button" class="button secondary-button" id="btnTestarRtcChegada">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="16" height="14.665" viewBox="0 0 16 14.665">
                        <path d="M15.806,7.565l-1.332-1.7a.689.689,0,0,0-1.049,0l-1.332,1.7a.666.666,0,0,0,1.049.819l.047-.062a6,6,0,1,1-1.621-5.211.667.667,0,0,0,.952-.932A7.332,7.332,0,1,0,14.564,8.14l.192.25a.666.666,0,0,0,1.049-.819Z" transform="translate(0.053 0.026)"/>
                        <path d="M27.346,10.67a.678.678,0,0,0-.676.676v4.065a.559.559,0,0,0,.02.158.483.483,0,0,0,.053.142.422.422,0,0,0,.074.122s.015.02.02.025a.536.536,0,0,0,.1.089h0l.028.02,1.062.8,1.626,1.219a.658.658,0,0,0,.406.135.678.678,0,0,0,.406-1.219l-.216-.163-.869-.65-.9-.678-.455-.338V11.346A.678.678,0,0,0,27.346,10.67Z" transform="translate(-20.032 -8.043)"/>
                    </svg>
                    <span>Testar RTC</span>
                </button>

                <button type="button" class="button secondary-button" id="btnTestarInterruptorChegada">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20.427" viewBox="0 0 16 20.427">
                        <path d="M20.636,4.013a.661.661,0,0,0-.727,0c-2.545,1.6-4.436.582-6.545-.582-2.182-1.164-4.727-2.473-8-.509A1.01,1.01,0,0,0,5,3.649V21.613a.687.687,0,0,0,.727.727.687.687,0,0,0,.727-.727V14.267c2.4-1.309,4.145-.364,6.182.727a10.092,10.092,0,0,0,4.655,1.527A6.327,6.327,0,0,0,20.636,15.5.764.764,0,0,0,21,14.849V4.667A.764.764,0,0,0,20.636,4.013Z" transform="translate(-5 -1.913)"/>
                    </svg>
                    <span>Testar interruptor</span>
                </button>

            </div>
        </div>

    </div>
</section>

{{#section 'footer'}}

<!-- MODAL TEST -->
<div class="modal modal-test" id="modalTest">
    <div class="modal-container">
        <button class="close-modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.207" height="19.207" viewBox="0 0 19.207 19.207">
                <g transform="translate(0.707 0.707)">
                    <path d="M0,0H25.163" transform="translate(0 0) rotate(45)" stroke="#707070" stroke-width="2"/>
                    <path d="M0,0H25.163" transform="translate(0 17.793) rotate(-45)" stroke="#707070" stroke-width="2"/>
                </g>
            </svg>
        </button>
        <div class="modal-status" id="status">
            <svg class="status-image" xmlns="http://www.w3.org/2000/svg" width="96.449" height="83.848" viewBox="0 0 96.449 83.848" fill="#94E182">
                <g transform="translate(0 -4)">
                    <path d="M47.32,33.418a3.1,3.1,0,0,0-3.617-2.11c-2.11.6-3.617,0-3.918-.6s0-2.11,1.507-3.918a2.914,2.914,0,0,0,0-4.22,24.649,24.649,0,0,0-10.851-6.329,3.051,3.051,0,0,0-3.617,2.411c-.6,2.11-1.808,3.014-2.713,3.014S22.3,20.458,21.4,18.649a3.274,3.274,0,0,0-3.617-2.11A24.649,24.649,0,0,0,6.932,22.869a2.914,2.914,0,0,0,0,4.22C8.439,28.6,8.741,30.1,8.439,31.007c-.3.6-1.808,1.206-3.918.6A3.1,3.1,0,0,0,.9,33.72,19.434,19.434,0,0,0,0,39.748a22.944,22.944,0,0,0,.9,6.329,3.1,3.1,0,0,0,3.617,2.11c2.11-.6,3.617,0,3.918.6s0,2.11-1.507,3.918a2.914,2.914,0,0,0,0,4.22,24.649,24.649,0,0,0,10.851,6.329A3.051,3.051,0,0,0,21.4,60.846c.6-2.11,1.808-3.014,2.713-3.014s1.808,1.206,2.713,3.014a2.994,2.994,0,0,0,3.014,2.11h.9a24.649,24.649,0,0,0,10.851-6.329,2.914,2.914,0,0,0,0-4.22c-1.507-1.507-1.808-3.014-1.507-3.918.3-.6,1.808-1.206,3.918-.6a3.1,3.1,0,0,0,3.617-2.11,22.945,22.945,0,0,0,.9-6.329A21.418,21.418,0,0,0,47.32,33.418ZM24.112,48.79a9.042,9.042,0,0,1,0-18.084,9.042,9.042,0,0,1,0,18.084Z" transform="translate(0 24.533)"/>
                    <path d="M79.351,16.056H52.526L45.594,5.507A2.685,2.685,0,0,0,43.183,4H13.042A8.881,8.881,0,0,0,4,13.042v23.51A31.861,31.861,0,0,1,16.056,34.14,30.229,30.229,0,0,1,46.2,64.281a31.861,31.861,0,0,1-2.411,12.056H79.351a8.881,8.881,0,0,0,9.042-9.042V25.1A8.881,8.881,0,0,0,79.351,16.056Zm3.014,47.019L56.444,22.084H79.351A2.848,2.848,0,0,1,82.365,25.1Z" transform="translate(8.056)"/>
                </g>
            </svg>
            <div class="status-icons">
                <svg class="status-icon loading" xmlns="http://www.w3.org/2000/svg" width="50.719" height="50.719" viewBox="0 0 50.719 50.719">
                    <g transform="translate(-2 -2)">
                        <path d="M16.811,2A1.711,1.711,0,0,0,15,3.811v9.057a1.711,1.711,0,0,0,1.811,1.811,1.711,1.711,0,0,0,1.811-1.811V3.811A1.711,1.711,0,0,0,16.811,2Z" transform="translate(10.548)" fill="#707070"/>
                        <path d="M8.879,6.343A1.793,1.793,0,0,0,6.343,8.879l6.34,6.34a1.957,1.957,0,0,0,1.268.543,1.957,1.957,0,0,0,1.268-.543,1.751,1.751,0,0,0,0-2.536Z" transform="translate(3.083 3.083)" fill="#707070"/>
                        <path d="M14.68,16.811A1.711,1.711,0,0,0,12.868,15H3.811A1.711,1.711,0,0,0,2,16.811a1.711,1.711,0,0,0,1.811,1.811h9.057A1.711,1.711,0,0,0,14.68,16.811Z" transform="translate(0 10.548)" fill="#707070"/>
                        <path d="M12.683,21.114l-6.34,6.34a1.751,1.751,0,0,0,0,2.536,1.957,1.957,0,0,0,1.268.543,1.957,1.957,0,0,0,1.268-.543l6.34-6.34a1.751,1.751,0,0,0,0-2.536A1.928,1.928,0,0,0,12.683,21.114Z" transform="translate(3.083 15.121)" fill="#707070"/>
                        <path d="M16.811,23A1.711,1.711,0,0,0,15,24.811v9.057a1.711,1.711,0,0,0,1.811,1.811,1.711,1.711,0,0,0,1.811-1.811V24.811A1.711,1.711,0,0,0,16.811,23Z" transform="translate(10.548 17.039)" fill="#707070"/>
                        <path d="M23.779,21.143a1.793,1.793,0,1,0-2.536,2.536l6.34,6.34a1.751,1.751,0,0,0,2.536,0,1.751,1.751,0,0,0,0-2.536Z" transform="translate(15.173 15.092)" fill="#707070"/>
                        <path d="M33.868,15H24.811A1.711,1.711,0,0,0,23,16.811a1.711,1.711,0,0,0,1.811,1.811h9.057a1.711,1.711,0,0,0,1.811-1.811A1.711,1.711,0,0,0,33.868,15Z" transform="translate(17.039 10.548)" fill="#707070"/>
                        <path d="M22.511,15.763a1.644,1.644,0,0,0,1.268-.543l6.34-6.34a1.793,1.793,0,0,0-2.536-2.536l-6.34,6.34a1.751,1.751,0,0,0,0,2.536A1.41,1.41,0,0,0,22.511,15.763Z" transform="translate(15.173 3.083)" fill="#707070"/>
                    </g>
                </svg>
                <svg class="status-icon error" xmlns="http://www.w3.org/2000/svg" width="45.636" height="38.018" viewBox="0 0 45.636 38.018">
                    <g transform="translate(-23.798 -48.362)">
                        <path d="M46.114,48.863,24.3,85.881H68.934Z" transform="translate(0 0)" fill="none" stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1"/>
                        <g transform="translate(45.131 60.91)">
                            <path d="M242.066,173.936a10.55,10.55,0,0,1,.8.934c.124.156.23.311.347.467s.216.311.318.467a.194.194,0,0,1,.023.117,1.1,1.1,0,0,1-.028.117.418.418,0,0,0-.011.117v10.856l-.323.467c-.115.156-.223.311-.345.467a12.082,12.082,0,0,1-.778.934,12.084,12.084,0,0,1-.778-.934c-.122-.156-.23-.311-.345-.467l-.323-.467V176.154a.417.417,0,0,0-.011-.117,1.1,1.1,0,0,1-.028-.117.194.194,0,0,1,.023-.117c.1-.156.211-.311.318-.467s.222-.311.347-.467A10.545,10.545,0,0,1,242.066,173.936Z" transform="translate(-240.581 -173.936)"/>
                        </g>
                        <circle cx="1.531" cy="1.531" r="1.531" transform="translate(45.085 78.378)"/>
                    </g>
                </svg>
                <svg class="status-icon finish" xmlns="http://www.w3.org/2000/svg" width="41.434" height="33.177" viewBox="0 0 41.434 33.177">
                    <path d="M41.434.611,17.252,32.6h0a1.3,1.3,0,0,1-1.927.258l-.259-.258L.057,12.823a.176.176,0,0,1,0-.256.178.178,0,0,1,.256,0L15.984,23.984h0L40.792.1a.388.388,0,0,1,.513,0A.77.77,0,0,1,41.434.611Z" transform="translate(0 0)" fill="#94e182"/>
                </svg>
            </div>
        </div>
        <div class="modal-text">
            <p class="information-text"></p>
        </div>
        <div class="modal-actions">
            <button class="button secondary-button" id="btnCancelar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.245" height="16.212" viewBox="0 0 16.245 16.212">
                    <path d="M15.88,14.086l-6-6,5.963-5.963A1.246,1.246,0,0,0,14.085.365L8.122,6.328,2.159.365A1.246,1.246,0,0,0,.4,2.127L6.361,8.09l-6,6a1.246,1.246,0,0,0,1.762,1.762l6-6,6,6a1.246,1.246,0,1,0,1.762-1.762Z" transform="translate(0 0)"/>
                </svg>
                <span>Cancelar</span>
            </button>
            <button class="button secondary-button" id="btnFechar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.245" height="16.212" viewBox="0 0 16.245 16.212">
                    <path d="M15.88,14.086l-6-6,5.963-5.963A1.246,1.246,0,0,0,14.085.365L8.122,6.328,2.159.365A1.246,1.246,0,0,0,.4,2.127L6.361,8.09l-6,6a1.246,1.246,0,0,0,1.762,1.762l6-6,6,6a1.246,1.246,0,1,0,1.762-1.762Z" transform="translate(0 0)"/>
                </svg>
                <span>Fechar</span>
            </button>
            <button class="button primary-button" id="btnTentarNovamente">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.997" viewBox="0 0 16 17.997">
                    <path d="M300,6930.86a6.036,6.036,0,0,1-11.858.43,5.882,5.882,0,0,1,5.877-7.29v2l5.019-3-5.019-3v2a8,8,0,1,0,7.968,9.13,1,1,0,0,0-1-1.13h0a1,1,0,0,0-.987.86" transform="translate(-286 -6920)" fill="#fff" fill-rule="evenodd"/>
                </svg>
                <span>Tentar novamente</span>
            </button>
            <button class="button primary-button" id="btnFinalizar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.674" height="21.287" viewBox="0 0 16.674 21.287">
                    <path d="M21.295,4.1a.688.688,0,0,0-.758,0c-2.653,1.667-4.623.606-6.821-.606C11.442,2.282,8.79.918,5.379,2.964A1.052,1.052,0,0,0,5,3.722v18.72a.716.716,0,0,0,.758.758.716.716,0,0,0,.758-.758V14.787c2.5-1.364,4.32-.379,6.442.758a10.517,10.517,0,0,0,4.851,1.592,6.593,6.593,0,0,0,3.486-1.061.8.8,0,0,0,.379-.682V4.783A.8.8,0,0,0,21.295,4.1Z" transform="translate(-5 -1.913)"/>
                </svg>
                <span>Finalizar</span>
            </button>
        </div>
    </div>
</div>

{{/section}}

{{#section 'scripts'}}
<script>
    async function showModalTest(loadingMessage, testCallback, finishCallback = closeModal, closeCallback = closeModal) {
        $('#modalTest').attr('class', 'modal modal-test').addClass('show').addClass('status-loading');
        $('#modalTest').find('.information-text').text(loadingMessage);
        $('#modalTest').find('#btnFinalizar').off('click').on('click', finishCallback).on('click', closeModal);
        $('#modalTest').find('.close-modal').off('click').on('click', closeCallback).on('click', closeModal).on('click', function() {
            if ($('#modalTest').hasClass('status-loading')) {
                $('#modalTest').find('#btnCancelar').click();
            }
        });
        $('#modalTest').find('#btnFechar').off('click').on('click', closeCallback).on('click', closeModal);
        $('#modalTest').find('#btnCancelar').off('click').on('click', closeModal).on('click', function(event) {
            $('#modalTest').addClass('canceled');
            showModalInformation("Operação cancelada.");        
        });
        $('#modalTest').find('#btnTentarNovamente').off('click').on('click', function() {
            showModalTest(loadingMessage, testCallback, finishCallback, closeCallback);
        });    
        
        let testReturn = await testCallback();
        
        if (!$('#modalTest').hasClass('canceled')) {
            if (testReturn.status) {
                $('#modalTest').attr('class', 'modal modal-test show').addClass('status-finish');
                $('#modalTest').find('.information-text').text(testReturn.message ?? "Teste finalizado com sucesso.");
            } else {
                $('#modalTest').attr('class', 'modal modal-test show').addClass('status-error');
                $('#modalTest').find('.information-text').text(testReturn.message ?? "Ocorreu um erro ao realizar o teste.");
            }
        }        
    }

    function salvarConfiguracao(event) {
        event.preventDefault();

        $.ajax({
            type: "PUT",
            url: url.origin + `/api` + url.pathname,
            dataType: "json",
            data: $('#formConfiguracao').serialize(),
            success: function(response){
                showModalInformation("Configuração atualizada com sucesso.");
            },
            error: function(res, status, error) {
                const response = JSON.parse(res.responseText);
                showModalInformation(response.message);
            }
        });
    }
    
    function testCentralSerialConnection() {
        showModalTest('Aguarde enquanto o teste de conexão serial está sendo realizado.', async function() {
            return new Promise((resolve, reject) => {
                
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: url.origin + `/api/serial/central`,
                        dataType: "json",
                        complete: function(response){
                            resolve( JSON.parse(response.responseText) );
                        }
                    });
                }, 1000);

            });
        }); 
    }
    
    function testLargadaConnection() {
        showModalTest('Aguarde enquanto o teste de conexão LoRa está sendo realizado.', async function() {
            return new Promise((resolve, reject) => {
                
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: url.origin + `/api/serial/largada`,
                        dataType: "json",
                        complete: function(response){
                            resolve( JSON.parse(response.responseText) );
                        }
                    });
                }, 1000);

            });
        }); 
    }
    function testLargadaRfid() {
        showModalTest('Aproxime um RFID do leitor de largada.', async function() {
            return new Promise((resolve, reject) => {
                
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: url.origin + `/api/serial/largada/rfid`,
                        dataType: "json",
                        complete: function(response){
                            resolve( JSON.parse(response.responseText) );
                        }
                    });
                }, 1000);

            });
        }); 
    }
    function testLargadaRtc() {
        showModalTest('Aguarde enquanto a data e hora são obtidas.', async function() {
            return new Promise((resolve, reject) => {
                
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: url.origin + `/api/serial/largada/rtc`,
                        dataType: "json",
                        complete: function(response){
                            resolve( JSON.parse(response.responseText) );
                        }
                    });
                }, 1000);

            });
        }); 
    }
    function testLargadaInterruptor() {
        showModalTest('Acione o interruptor de largada.', async function() {
            return new Promise((resolve, reject) => {
                
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: url.origin + `/api/serial/largada/interruptor`,
                        dataType: "json",
                        complete: function(response){
                            resolve( JSON.parse(response.responseText) );
                        }
                    });
                }, 1000);

            });
        }); 
    }
    
    function testChegadaConnection() {
        showModalTest('Aguarde enquanto o teste de conexão ESP-NOW está sendo realizado.', async function() {
            return new Promise((resolve, reject) => {
                
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: url.origin + `/api/serial/chegada`,
                        dataType: "json",
                        complete: function(response){
                            resolve( JSON.parse(response.responseText) );
                        }
                    });
                }, 1000);

            });
        }); 
    }
    function testChegadaRfid() {
        showModalTest('Aproxime um RFID do leitor de chegada.', async function() {
            return new Promise((resolve, reject) => {
                
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: url.origin + `/api/serial/chegada/rfid`,
                        dataType: "json",
                        complete: function(response){
                            resolve( JSON.parse(response.responseText) );
                        }
                    });
                }, 1000);

            });
        }); 
    }
    function testChegadaRtc() {
        showModalTest('Aguarde enquanto a data e hora são obtidas.', async function() {
            return new Promise((resolve, reject) => {
                
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: url.origin + `/api/serial/chegada/rtc`,
                        dataType: "json",
                        complete: function(response){
                            resolve( JSON.parse(response.responseText) );
                        }
                    });
                }, 1000);

            });
        }); 
    }
    function testChegadaInterruptor() {
        showModalTest('Acione o interruptor de chegada.', async function() {
            return new Promise((resolve, reject) => {
                
                setTimeout(function () {
                    $.ajax({
                        type: "GET",
                        url: url.origin + `/api/serial/chegada/interruptor`,
                        dataType: "json",
                        complete: function(response){
                            resolve( JSON.parse(response.responseText) );
                        }
                    });
                }, 1000);

            });
        }); 
    }

    $('#btnSelecionarCom').on('click', salvarConfiguracao);

    $('#btnTestarSerial').on('click', testCentralSerialConnection);

    $('#btnTestarConexaoLargada').on('click', testLargadaConnection);
    $('#btnTestarRfidLargada').on('click', testLargadaRfid);
    $('#btnTestarRtcLargada').on('click', testLargadaRtc);
    $('#btnTestarInterruptorLargada').on('click', testLargadaInterruptor);
    
    $('#btnTestarConexaoChegada').on('click', testChegadaConnection);
    $('#btnTestarRfidChegada').on('click', testChegadaRfid);
    $('#btnTestarRtcChegada').on('click', testChegadaRtc);
    $('#btnTestarInterruptorChegada').on('click', testChegadaInterruptor);

</script>
{{/section}}