<section class="page-competidores show-page">
    <div class="container">
        
        <div class="label">
            <span class="label-title">CPF</span>
            <div class="label-inputs">                
                <input class="input" type="text" name="cpf-do-competidor"/>
            </div>
        </div>

        <div class="label">
            <span class="label-title">Nome do competidor</span>
            <div class="label-inputs">                
                <input class="input" type="text" name="nome-do-competidor"/>
            </div>
        </div>

        <div class="label">
            <span class="label-title">Gênero</span>
            <div class="label-inputs">       
                <select class="input" name="genero-do-competidor">
                    <option value="">Selecione o gênero</option>
                    <option value="1">Masculino</option>
                    <option value="2">Feminino</option>
                </select>         
            </div>
        </div>

        <div class="label">
            <span class="label-title">Data de nascimento</span>
            <div class="label-inputs">                
                <input class="input" type="date" name="data-de-nascimento-do-competidor"/>
            </div>
        </div>

        <div class="label">
            <span class="label-title">Patrocinador</span>
            <div class="label-inputs">                
                <input class="input" type="text" name="patrocinador-do-competidor"/>
            </div>
        </div>

        <div class="actions">
            <button type="button" class="button remove-button" id="btn-excluir-campeonato">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.243" height="16.243" viewBox="0 0 16.243 16.243">
                    <g transform="translate(-3.879 -3.756)">
                        <line x1="12" y2="12" transform="translate(6 5.877)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                        <line x2="12" y2="12" transform="translate(6 5.877)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                    </g>
                </svg>
                <span>Excluir</span>
            </button>

            <button type="button" class="button secondary-button" id="btn-salvar-campeonato">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <g transform="translate(-2 -2)">
                        <path d="M19,21H5a2,2,0,0,1-2-2V5A2,2,0,0,1,5,3H16l5,5V19A2,2,0,0,1,19,21Z" fill="none" stroke="#94e182" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path d="M17,21V13H7v8" fill="none" stroke="#94e182" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path d="M7,3V8h8" fill="none" stroke="#94e182" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </g>
                </svg>
                <span>Salvar</span>
            </button>
        </div>

    </div>
</section>