        <footer>
            {{{_sections.footer}}}
            {{> modal-option}}
            {{> modal-information}}
            {{> modal-test}}            
        </footer> 
        <script src="/scripts/jquery.min.js"></script>
        <script src="/scripts/script.js"></script>
        {{{_sections.scripts}}}
    </body>
</html>