        <footer>            
            {{> modal-option}}
            {{> modal-information}}
            {{{_sections.footer}}}
        </footer> 
        <script src="/scripts/jquery.min.js"></script>
        <script src="/scripts/socket.io.min.js"></script>
        <script src="/scripts/script.js"></script>
        {{{_sections.scripts}}}
    </body>
</html>