<!-- MODAL OPTION -->
<div class="modal modal-option" id="modalOption">
    <div class="modal-container">
        <button class="close-modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.207" height="19.207" viewBox="0 0 19.207 19.207">
                <g transform="translate(0.707 0.707)">
                    <path d="M0,0H25.163" transform="translate(0 0) rotate(45)" stroke="#707070" stroke-width="2"/>
                    <path d="M0,0H25.163" transform="translate(0 17.793) rotate(-45)" stroke="#707070" stroke-width="2"/>
                </g>
            </svg>
        </button>
        <div class="modal-text">
            <p class="information-text"></p>
        </div>
        <div class="modal-actions">
            <button class="button secondary-button" id="btnRecusar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.245" height="16.212" viewBox="0 0 16.245 16.212">
                    <path d="M15.88,14.086l-6-6,5.963-5.963A1.246,1.246,0,0,0,14.085.365L8.122,6.328,2.159.365A1.246,1.246,0,0,0,.4,2.127L6.361,8.09l-6,6a1.246,1.246,0,0,0,1.762,1.762l6-6,6,6a1.246,1.246,0,1,0,1.762-1.762Z" transform="translate(0 0)"/>
                </svg>
                <span>Não, cancelar</span>
            </button>
            <button class="button primary-button" id="btnAceitar">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.986" height="17.605" viewBox="0 0 21.986 17.605">
                    <path d="M21.986.324,9.155,17.3h0a.691.691,0,0,1-1.023.137L7.994,17.3.03,6.8a.094.094,0,0,1,0-.136.094.094,0,0,1,.136,0l8.315,6.058h0L21.646.051a.206.206,0,0,1,.272,0A.408.408,0,0,1,21.986.324Z" transform="translate(0 0)"/>
                </svg>
                <span>Sim</span>
            </button>
        </div>
    </div>
</div>