<aside>
    <h2 class="sidebar-title">Menu principal</h2>
    <div class="sidebar-buttons">

        <a class="sidebar-button active" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.471" height="20.133" viewBox="0 0 21.471 20.133">
                <path id="_Icon-Color" data-name="🔹Icon-Color" d="M4.193,14.185H11.35a1.161,1.161,0,0,0,1.193-1.119V4.119A1.161,1.161,0,0,0,11.35,3H4.193A1.161,1.161,0,0,0,3,4.119v8.948A1.161,1.161,0,0,0,4.193,14.185Zm0,8.948H11.35a1.161,1.161,0,0,0,1.193-1.119V17.541a1.161,1.161,0,0,0-1.193-1.119H4.193A1.161,1.161,0,0,0,3,17.541v4.474A1.161,1.161,0,0,0,4.193,23.133Zm11.928,0h7.157a1.161,1.161,0,0,0,1.193-1.119V13.067a1.161,1.161,0,0,0-1.193-1.119H16.121a1.161,1.161,0,0,0-1.193,1.119v8.948A1.161,1.161,0,0,0,16.121,23.133ZM14.928,4.119V8.593a1.161,1.161,0,0,0,1.193,1.119h7.157a1.161,1.161,0,0,0,1.193-1.119V4.119A1.161,1.161,0,0,0,23.278,3H16.121A1.161,1.161,0,0,0,14.928,4.119Z" transform="translate(-3 -3)" fill-rule="evenodd"/>
            </svg>
            <span>Painel</span>
        </a>

        <a class="sidebar-button" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20.188" viewBox="0 0 28 20.188">
                <path id="_2270246341595988885" data-name="2270246341595988885" d="M22.821,15.655a6.775,6.775,0,0,0-1.317.176L19.31,6.7a.855.855,0,0,0-.878-.7H15.8a.829.829,0,0,0-.878.878.829.829,0,0,0,.878.878H17.73l1.053,4.389H9.567a2.506,2.506,0,0,1,.7-2.019.8.8,0,0,0,.176-.966.768.768,0,0,0-.79-.527H6.144a.829.829,0,0,0-.878.878.829.829,0,0,0,.878.878H8.075a4.383,4.383,0,0,0-.176,2.37L6.583,15.831a6.775,6.775,0,0,0-1.317-.176A5.266,5.266,0,1,0,10.445,21.8h2.721a.528.528,0,0,0,.351-.088h0l.263-.263h0l5.53-7.11.527,2.194A5.263,5.263,0,1,0,28,20.922,5.207,5.207,0,0,0,22.821,15.655Zm-13.956-.7,2.809,5.091H10.445a5.126,5.126,0,0,0-2.282-3.511ZM7.461,18.2A3.3,3.3,0,0,1,8.69,20.044H6.583ZM5.266,24.433a3.511,3.511,0,0,1,0-7.022,1.714,1.714,0,0,1,.614.088l-1.4,3.072a1.039,1.039,0,0,0,.088.878.8.8,0,0,0,.7.351H8.69A3.58,3.58,0,0,1,5.266,24.433Zm7.987-5.091-2.9-5.442h7.2Zm9.567,5.091a3.476,3.476,0,0,1-2.458-5.969l.351,1.492a.483.483,0,0,0,.263.439l1.229,1.141a.848.848,0,0,0,1.229,0,.848.848,0,0,0,0-1.229l-1.053-.966-.439-1.755a2.986,2.986,0,0,1,.878-.088,3.521,3.521,0,0,1,3.511,3.511A3.447,3.447,0,0,1,22.821,24.433Z" transform="translate(0 -6)"/>
            </svg>
            <span>Etapas</span>
        </a>

        <a class="sidebar-button" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="26.483" viewBox="0 0 28 26.483">
                <g id="_3764501721605810024" data-name="3764501721605810024" transform="translate(0.003 -0.005)">
                    <path id="Caminho_114" data-name="Caminho 114" d="M9.5,17.3a3.968,3.968,0,0,0,7.187.018,8.111,8.111,0,0,1-.932-1.194c-.046-.066-.091-.132-.137-.2a3.9,3.9,0,0,1-2.527.864A3.85,3.85,0,0,1,10.4,15.711l-.125-.116c-.1.278-.228.613-.365.925a5.457,5.457,0,0,1-.41.782Zm9.81,4.031,1.035-1.085,1.493,1.436,2.324-3.1,1.155.932c-.545.675-2.486,3.338-2.91,3.685a.881.881,0,0,1-1.174-.027l-1.923-1.844Zm3.017-6.2a5.676,5.676,0,1,1-4.769,2.6,5.407,5.407,0,0,1-.5-.251c-.7,3.231-6.205,4.011-7.905.185a12.659,12.659,0,0,1-3.815,1.278L6.144,24.8H1.311c-2.4-.182-.918-3.646-.2-4.6a3.953,3.953,0,0,1,1.253-1.062c1.431-.8,5.157-1.062,6.7-2.14a4.643,4.643,0,0,0,.353-.688c.178-.406.34-.848.442-1.149a13.912,13.912,0,0,1-1.158-1.65L7.536,11.648a3.4,3.4,0,0,1-.665-1.7,1.36,1.36,0,0,1,.114-.611,1.106,1.106,0,0,1,.4-.467,1.453,1.453,0,0,1,.285-.146,29.655,29.655,0,0,1-.055-3.35,4.448,4.448,0,0,1,.144-.759A4.49,4.49,0,0,1,9.74,2.091,6.3,6.3,0,0,1,11.4,1.353c.371-.1-.317-1.294.068-1.333,1.859-.191,4.87,1.506,6.169,2.91A4.555,4.555,0,0,1,18.782,5.8l-.073,3.04h0a.844.844,0,0,1,.618.638,2.652,2.652,0,0,1-.321,1.6h0a.159.159,0,0,1-.021.039l-1.335,2.2a11.4,11.4,0,0,1-1.638,2.256c.059.084.116.169.175.255a7.81,7.81,0,0,0,.873,1.121.23.23,0,0,1,.03.036,4.074,4.074,0,0,0,.718.392,5.774,5.774,0,0,1,.5-.577,5.652,5.652,0,0,1,4.013-1.666ZM8.347,9.26a1.121,1.121,0,0,0-.59.155.464.464,0,0,0-.169.2.671.671,0,0,0-.055.314,2.768,2.768,0,0,0,.558,1.358l0,.007,1.171,1.862a9.875,9.875,0,0,0,1.575,2.067,3.22,3.22,0,0,0,2.247.9,3.31,3.31,0,0,0,2.377-.943,10.45,10.45,0,0,0,1.62-2.208L18.406,10.8a2.129,2.129,0,0,0,.28-1.158c-.034-.132-.178-.2-.424-.207-.052,0-.107,0-.16,0s-.121.007-.185.011a.389.389,0,0,1-.1-.007,1.777,1.777,0,0,1-.362-.021l.451-2c-3.352.529-5.861-1.962-9.4-.5l.255,2.356a1.6,1.6,0,0,1-.408-.011Zm13.976,6.754a4.8,4.8,0,1,0,4.8,4.8,4.786,4.786,0,0,0-4.8-4.8Z" transform="translate(0 0)"/>
                </g>
            </svg>
            <span>Competidores</span>
        </a>

        <a class="sidebar-button" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="26.453" height="26.121" viewBox="0 0 26.453 26.121">
                <path id="_5055648501582884280" data-name="5055648501582884280" d="M28.494,6.8A2,2,0,0,0,26.88,6H23.95l.3-1.744a.889.889,0,0,0-.876-1.04H7.969a.889.889,0,0,0-.876,1.04L7.393,6H4.463A2.017,2.017,0,0,0,2.527,8.58l.331,1.132a8.393,8.393,0,0,0,6.716,5.9A7.293,7.293,0,0,0,13,18.526c0,.04-.005.078-.005.119a2.078,2.078,0,0,0,.262,1.012,3.925,3.925,0,0,0,.694.739l-2.3,5.946H9.736a.393.393,0,0,0-.358.23L8.371,28.778a.393.393,0,0,0,.358.557H22.613a.393.393,0,0,0,.358-.557l-1.006-2.207a.393.393,0,0,0-.358-.23H19.692l-2.3-5.946a3.925,3.925,0,0,0,.694-.739,2.078,2.078,0,0,0,.262-1.012c0-.041,0-.079-.005-.119a7.293,7.293,0,0,0,3.422-2.918,8.393,8.393,0,0,0,6.716-5.9l.331-1.132A2,2,0,0,0,28.494,6.8ZM4.3,9.29,3.968,8.159a.515.515,0,0,1,.495-.66H7.651L8.6,13.036a7.31,7.31,0,0,0,.2.85A6.879,6.879,0,0,1,4.3,9.29Zm12.169,5.263h-1.6V9.19l-.817.382a.7.7,0,0,1-.67-1.228L15.35,7.1h1.118ZM27.374,8.159,27.043,9.29a6.879,6.879,0,0,1-4.506,4.6,7.309,7.309,0,0,0,.2-.85L23.691,7.5H26.88a.515.515,0,0,1,.495.66Z" transform="translate(-2.446 -3.213)"/>
            </svg>
            <span>Campeonatos</span>
        </a>

        <a class="sidebar-button" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="26.044" height="20.835" viewBox="0 0 26.044 20.835">
                <g id="_14291991451579780443" data-name="14291991451579780443" transform="translate(-5 -8)">
                    <path id="Caminho_130" data-name="Caminho 130" d="M18.022,19.78a.6.6,0,0,1-.245-.054l-12.4-5.549a.66.66,0,0,1,.023-1.2L17.8,8.043a.593.593,0,0,1,.441,0l12.4,4.93a.661.661,0,0,1,.023,1.2l-12.4,5.552a.609.609,0,0,1-.244.051ZM7.28,13.615l10.712,4.794,10.773-4.794L18.022,9.345Z" />
                    <path id="Caminho_131" data-name="Caminho 131" d="M5.377,20.3a.665.665,0,0,1-.326-.853.623.623,0,0,1,.572-.394.59.59,0,0,1,.245.054l12.125,5.425,12.186-5.425a.584.584,0,0,1,.246-.054.617.617,0,0,1,.569.394.663.663,0,0,1-.326.853L18.022,25.959Z" transform="translate(0 -1.458)"/>
                    <path id="Caminho_132" data-name="Caminho 132" d="M5.377,25.291a.662.662,0,0,1-.326-.852.623.623,0,0,1,.572-.394.6.6,0,0,1,.245.053l12.125,5.426L30.178,24.1a.606.606,0,0,1,.815.341.662.662,0,0,1-.326.852l-12.646,5.66Z" transform="translate(0 -2.116)"/>
                </g>
            </svg>
            <span>Categorias</span>
        </a>

        <a class="sidebar-button" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="28.2" height="26.888" viewBox="0 0 28.2 26.888">
                <path id="_2440761311594721598" data-name="2440761311594721598" d="M29.6,12.7a1.084,1.084,0,0,0-1.1-.8,2.889,2.889,0,0,1-3-1.5,3.039,3.039,0,0,1,.2-3.3.935.935,0,0,0-.1-1.3A13.662,13.662,0,0,0,20,2.6a1.02,1.02,0,0,0-1.2.6,3.078,3.078,0,0,1-5.6,0A.931.931,0,0,0,12,2.6,12.835,12.835,0,0,0,6.4,5.9a.935.935,0,0,0-.1,1.3,3.05,3.05,0,0,1,.2,3.3,3.229,3.229,0,0,1-3,1.5.991.991,0,0,0-1.1.8A11.235,11.235,0,0,0,2,16a12.423,12.423,0,0,0,.4,3.3.921.921,0,0,0,1.1.7,2.889,2.889,0,0,1,3,1.5,3.039,3.039,0,0,1-.2,3.3.935.935,0,0,0,.1,1.3,14.24,14.24,0,0,0,5.7,3.3,1.02,1.02,0,0,0,1.2-.6,3.078,3.078,0,0,1,5.6,0,.961.961,0,0,0,.9.6h.3a14.24,14.24,0,0,0,5.7-3.3.942.942,0,0,0,.1-1.3,3.05,3.05,0,0,1-.2-3.3,3.229,3.229,0,0,1,3-1.5.991.991,0,0,0,1.1-.8,12.423,12.423,0,0,0,.4-3.3A12.036,12.036,0,0,0,29.6,12.7ZM11.7,18.3a.967.967,0,0,1,0,1.4.967.967,0,0,1-1.4,0l-3-3a.967.967,0,0,1,0-1.4l3-3a.99.99,0,0,1,1.4,1.4L9.4,16Zm7.2-5.9-4,8a.961.961,0,0,1-.9.6c-.2,0-.3,0-.4-.1a.883.883,0,0,1-.4-1.3l4-8a.883.883,0,0,1,1.3-.4A.962.962,0,0,1,18.9,12.4Zm5.8,4.3-3,3a.967.967,0,0,1-1.4,0,.967.967,0,0,1,0-1.4L22.6,16l-2.3-2.3a.99.99,0,1,1,1.4-1.4l3,3A.967.967,0,0,1,24.7,16.7Z" transform="translate(-2 -2.537)"/>
            </svg>
            <span>Configurações</span>
        </a>

    </div>
</aside>