body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    padding: 2rem;
    min-height: 100vh;
    gap: 2.125rem;
    font-family: 'Roboto', sans-serif;
    color: $gray;
}