<section class="painel-page">
    <div class="container">
        <svg id="_20620553751536922352" data-name="20620553751536922352" xmlns="http://www.w3.org/2000/svg" width="292.443" height="292.442" viewBox="0 0 292.443 292.442">
            <g id="Grupo_4" data-name="Grupo 4">
                <path id="Caminho_20" data-name="Caminho 20" d="M141.261,0A141.261,141.261,0,1,1,0,141.261,141.261,141.261,0,0,1,141.261,0Z" transform="translate(4.871 0.179)" fill="#fff"/>
                <path id="Caminho_17" data-name="Caminho 17" d="M146.221,292.442C65.595,292.442,0,226.848,0,146.221A145.295,145.295,0,0,1,42.643,43.009,9.747,9.747,0,1,1,56.456,56.763a126.727,126.727,0,1,0,216.49,89.458c0-66.594-51.64-121.359-116.977-126.355V72.3a9.748,9.748,0,1,1-19.5,0V9.748A9.752,9.752,0,0,1,146.221,0c80.626,0,146.221,65.595,146.221,146.221S226.848,292.442,146.221,292.442Z" fill="#707070"/>
                <path id="Caminho_18" data-name="Caminho 18" d="M20,20.121h0L83.09,65.757A12.5,12.5,0,0,1,84.576,84.7h0a12.5,12.5,0,0,1-18.941-1.487Z" transform="translate(77.481 77.95)" fill="#707070"/>
            </g>
            <g id="Grupo_5" data-name="Grupo 5" transform="translate(175.465 175.373)">
                <circle id="Elipse_3" data-name="Elipse 3" cx="58.488" cy="58.488" r="58.488" fill="#94e182"/>
                <path id="Caminho_19" data-name="Caminho 19" d="M103.273,42.857a4.867,4.867,0,0,0-6.785,1.219L69.214,83.262l-19.248-15.8A4.873,4.873,0,1,0,43.786,75l23.327,19.15a4.888,4.888,0,0,0,3.09,1.106,5.176,5.176,0,0,0,.668-.044A4.9,4.9,0,0,0,74.2,93.167l30.287-43.52A4.883,4.883,0,0,0,103.273,42.857Z" transform="translate(-12.758 -12.735)" fill="#fff"/>
            </g>
        </svg>
        <h1 class="page-title">Downhill Timer</h1>
        <p class="text">Vestibulum interdum massa vitae tellus suscipit, condimentum cursus purus luctus. 
            In condimentum dui in ipsum mollis, vel vehicula augue venenatis. Vestibulum ante 
            ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce eget 
            fringilla nunc, sed pellentesque quam.</p>
    </div>
</section>