.show-page {
    .container {
        width: 47rem;
        max-width: 100%;
        display: grid;
        gap: 1rem;
        
        form {
            display: grid;
            gap: 1rem;
            width: 100%;

            .data {
                display: grid;
                gap: 1rem;
                width: 100%;
    
                .label {
                    .label-title {
                        margin-bottom: .5rem;
                    }
            
                    .input {
                        width: 100%;
                    }
                }
            }
    
            .actions {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: end;
                gap: 1rem;            
            }

            &.create {
                .remove-button {
                    display: none;
                }

                .save-button {
                    display: none;
                }
            }

            &.update {
                .add-button {
                    display: none;
                }
            }
        }

        .return-message {
            text-align: center;
            font-size: 1.25rem;
            color: red;
        }
    }    
}